* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #2f4f4f, #008b8b, #20b2aa);
}

#formId {
  width: 350px;
  margin: 20vh auto 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  font-size: 15px;
}

.input-control {
  display: flex;
  flex-direction: column;
}

.input-control input {
  border: 2px solid #808080;
  border-radius: 4px;
  display: block;
  font-size: 12px;
  padding: 8px;
  width: 100%;
}

#formId button {
  border: none;
  border-radius: 4px;
  color: #ffffff;
  background-color: #0000ff;
  padding: 8px;
  width: 100%;
}

.input-control.success input {
  border-color: #09c372;
}

.input-control.error input {
  border-color: #ff3860;
}

.input-control .error {
  border-color: #ff3860;
  color: #ff3860;
  font-size: 9px;
  height: 13px;
}
